process {
    withName: 'IGVREPORTS' {
        ext.prefix = { "${meta.id}.subset" }
        ext.when   = { params.tools && params.tools.split(',').contains('haplotypecaller') && !params.joint_germline }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/reports/igvreports/${meta.id}" },
            pattern: "*{html}",
        ]
    }
}
