process {
    withName: 'IGVREPORTS' {
        ext.prefix = { "${meta.id}.igvreport" }
        ext.when   = { params.tools && params.tools.split(',').contains('haplotypecaller') && !params.joint_germline }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/igvreports"},
            pattern: "*{html}",
            saveAs: { meta.num_intervals > 1 ? null : "haplotypecaller/igvreports/${meta.id}/${it}" }
        ]
    }
}
