params {
    tools = "haplotypecaller,manta,cnvkit,snpeff,igvreports"
    skip_tools = "baserecalibrator"
    gatk_hard_filter = true
    joint_germline = false
    genome = ""
    fasta = "s3://brentlab-ref/H99/fungidb/FungiDB-65_CneoformansH99_Genome_with_markers.fasta"
    fasta_fai = "s3://brentlab-ref/H99/fungidb/FungiDB-65_CneoformansH99_Genome_with_markers.fasta.fai"
    gff = "s3://brentlab-ref/H99/fungidb/FungiDB-65_CneoformansH99_with_markers.gff"
    snpeff_db = "1"
    snpeff_genome = "Cryptococcus_neoformans_var_grubii_h99"
    igenomes_ignore = true
    vep_cache = ""
    snpeff_cache = "s3://brentlab-ref/KN99/snpeff_db"
    split_fastq = 1000000
    nucleotides_per_second = 10000
    save_output_as_bam = true
}
