process{
    def MIN_MAPQ = 20
    def MIN_COVERAGE = 10

    withName: 'VARIANT_FILTER'{
        ext.prefix = {"${meta.id}_region_filtered"}
        ext.args = [
            "--exclude-bed",
            "--recode",
            "--recode-INFO-all",
            "--non-ref-af 0.7",
            "--non-ref-ac 4",
            "--minQ " + MIN_MAPQ,
            "--minDP " + 8
        ].join(' ').trim()
   }

	withName: 'SNPEFF_SNPEFF' {
	   ext.args = { '-c  s3://brentlab-ref/KN99/snpeff_db/snpEff.config'}
	}

	withName: 'MANTA_GERMLINE' {
	   errorStrategy = 'ignore'
	}

	withName: 'GATK4_HAPLOTYPECALLER' {
	    ext.args = [{ params.joint_germline ? "-ERC GVCF" : "" },
                    "--sample-ploidy 1",
                    "--dont-use-soft-clipped-bases",
                    "--read-filter SoftClippedReadFilter",
                    "--soft-clipped-ratio-threshold 0.2",
                    "--read-filter",
                    "--filter-expression 'QUAL < 20.0 || DP < 10.0 || AF < 0.75'",
                    "--filter-name 'LowQualFilter'",
                    {"-bamout ${task.ext.prefix}.realigned.bam"}].join(' ').trim()
        }

}

params {
    tools = "haplotypecaller,manta,cnvkit,snpeff,igvreports"
    skip_tools = "baserecalibrator,haplotypecaller_filter"
    joint_germline = false
    genome = ""
    dbsnp_vqsr = false
    fasta = "s3://brentlab-ref/KN99/KN99_genome_fungidb.fasta"
    fasta_fai = "s3://brentlab-ref/KN99/KN99_genome_fungidb.fasta.fai"
    dbsnp = false
    dbsnp_tbi = false
    known_indels = false
    known_indels_tbi = false
    known_snps = false
    known_snps_tbi = false
    known_indels_vqsr = false
    known_snps_vqsr = false
    ngscheckmate_bed = false
    snpeff_db = "1"
    snpeff_genome = "ASM221672v1"
    igenomes_ignore = true
    vep_cache = ""
    snpeff_cache = "s3://brentlab-ref/KN99/snpeff_db"
    split_fastq = 1000000
    nucleotides_per_second = 10000
    save_output_as_bam = true
}
