process{
    withName: 'VARIANT_FILTER'{
        ext.prefix = {"${meta.id}_region_filtered.vcf"}
        ext.args = [
            "--exclude-bed",
        ].join(' ').trim()
   }

	withName: 'SNPEFF_SNPEFF' {
	   ext.args = { '-c  s3://brentlab-ref/KN99/snpeff_db/snpEff.config'}
	}

	withName: 'MANTA_GERMLINE' {
	   errorStrategy = 'ignore'
	}

	withName: 'GATK4_HAPLOTYPECALLER' {
	    ext.args = [{ params.joint_germline ? "-ERC GVCF" : "" },
                    "--sample-ploidy 1",
                    "--dont-use-soft-clipped-bases",
                    "--read-filter SoftClippedReadFilter",
                    "--soft-clipped-ratio-threshold 0.2",
                    "--read-filter",
                    "--filter-expression 'QUAL < 20.0 || DP < 10.0 || AF < 0.75'",
                    "--filter-name 'LowQualFilter'",
                    {"-bamout ${task.ext.prefix}.realigned.bam"}].join(' ').trim()
        }

}
